<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskList</title>
</head>
<body>
    <h2>Task List</h2>
    <form method="post" action="/add">
        <input type="text" name="taskName">
        <input type="text" name="dueDate">
        <input type="submit" value="Add task">
    </form>
    <table border="5">
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Is Done
            </th>
        </tr>
        {% for task in tasklist: %}
        <tr>
            <td>
               {{ task[0] }}
            </td>
            <td>
                {{ task[1] }}
            </td>
        </tr>
         {% endfor %}    
    </table>
</body>
</html>