<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskList</title>
</head>
<body>
    <h2>Task List</h2>
    <form method="post" action="/add">
        <input type="text" name="taskName">
        <input type="text" name="dueDate">
        <input type="submit" value="Add task">
    </form>
    <table border="5">
        <tr>
            <th>
                Task Name
            </th>
            <th>
                Is Done
            </th>
        </tr>
        {% for task in tasklist: %}
        <tr>
            <form method="post" action="/update">
                <td>
                    <input type="hidden" name="id" value="{{ task[0] }}" />
                    <input type="text" name="updateTask" value="{{ task[1] }}" />
                </td>
                <td>
                    {{ task[2] }}
                </td>
                <td>
                    <input type="submit" name="saveOrDelete" value="save">
                </td>
                <td>
                    <input type="submit" name="saveOrDelete" value="X">
                </td>
            </form>
        </tr>
         {% endfor %}    
    </table>
</body>
</html>